controller_manager:
  ros__parameters:
    update_rate: 1000  # Hz

    panda_hand_controller:
      type: joint_trajectory_controller/JointTrajectoryController

panda_hand_controller:
  ros__parameters:
    joints:
      - panda_finger_joint1
      - panda_finger_joint2
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity